<?xml version="1.0"?>

<model>
  <name>usa_wa_mercer_island</name>
  <version>1.1</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Sai Aravind</name>
    <email>bplacearavind@gmail.com</email>
  </author>

  <author>
    <name>Anatolii Lehkyi</name>
    <email>lanot.biz@gmail.com</email>
  </author>

  <description>
    Gazebo 3d Terrian
  </description>
</model>